$backgroundColor: #c3edd5;
$titleFont: 'Text Me One', sans-serif;
$metaFont: 'Inconsolata', monospace;

.post-preview > a {
    color: #212529;
    font-family: $titleFont;
  }
  
.post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #8ee8d8;
  }
  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
  }
  
  .post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
    font-family: $metaFont;
  }
  
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529;
  }
  .post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085A1;
  }
  .greetings h1 {
    font-family: $titleFont; 
    position :relative;
    animation: enterAny 2s;
  }

  @keyframes enterAny{
    from {top: -2rem;}
    to {top: 0rem;}
  }