<div class="container">
  <div>
    <div class="greetings">
      <h1>Welcome, Visitor!</h1>
    </div>
    <hr>
    <div class="row">
      <div class="post-preview" [routerLink]="['article']">
      <div class="post-preview">
        <a>
          <h2 class="post-title">
            One hundred days of code - 
          </h2>
          <h3 class="post-subtitle">
              Thoughts and more
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="https://www.linkedin.com/in/rodnorm">Rodrigo Normando</a>
          on December 3rd, 2018</p>
      </div>
      <hr>
    </div>
  </div>
</div>
