<app-menu></app-menu>

<body>

  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>One hundred days of code</h1>
            <h2 class="subheading">Thoughts and more</h2>
            <span class="meta">Posted by
              <a href="https://www.linkedin.com/in/rodnorm">Rodrigo Normando</a>
              on December 3rd, 2018</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container" id="article">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto mt-4">
          <p>Well, it's almost the beginning of December and I'd like to make some promises before the month of
            hard-to-keep promises finally arrives. These will be different, I promise.</p>
          <p>
            Some days ago I discovered a challenge called '100 days of code' which basically consists of coding a
            minimum
            of one hour a day for the next 100 days. It seems tough but it was the push I needed to stop
            procrastinating.
            So I'll start that tomorrow.
          </p>
          <p>
            I am into the tech subject for over two years now and into the tech industry for something like 14 months.
            So
            I'm not that experienced and also not that inexperienced anymore, I have taken this challenge mostly
            because
            I have a lot of interesting projects that I'd like to see going live, but, for now, are only ideas in my
            head. So the main reason I am writing this article is to state where I want to be 100 days from now, what
            are
            my projects and to invite you to come check it out now and then during the upcoming months.
          </p>
          <p>Projects</p>
          <div id="dots">
            <span class="dot3"></span>
            <h5>
              An app and podcast for those who want to learn Portuguese:
            </h5>
          </div>
          <p>
            This is a project I have with my fiance, she is a very good translator and has tons of experience in
            teaching
            Portuguese for non Portuguese speakers. If you want to learn Portuguese there's an app on your way, we
            intend
            to launch it at least in February on Android. If you already know Portuguese this app could also be useful,
            in the podcast there's gonna be plenty of cultural information.
          </p>
          <div id="dots">
            <span class="dot3"></span>
            <h5>
              Create a portfolio of Pure CSS Images:
            </h5>
          </div>
          <p>
            I few days ago I didn't even know this kind of art could even exist, now I'm in love with it. Create images
            only with CSS - what a great idea!</p>
          <p>
            CSS, the styling language of the web (and beyond), has helped web developers create better and better
            interfaces for their projects and it can also be used to create a more conventional way of art:
            illustrations. I love drawing since I was a kid and technology since I was a teenager, putting together two
            things I love feels like heaven. I will be doing a lot of CSS art in the upcoming months. For now I will
            let
            you with two of my drawings: one with pencil and one with code.
          </p>
          <div class="imgFlex">
            <div class="imgOrder">
              <a href="https://www.instagram.com/p/BHD0j1rjSTB/">
                <img class="imgConfig" src="https://i.imgur.com/5jIAJhg.jpg" alt="One of my favorite drawings. Graphite and paper. It's a cat.">
              </a>
              <span>One of my favorite drawings. Graphite and paper</span>
            </div>
            <div class="imgOrder">
              <a href="https://www.instagram.com/p/BqvPwNWhJpp/">
                <img class="imgConfig" src="https://i.imgur.com/9gwvcMo.jpg" alt="First attempt with pure CSS. It's a snowman.">
              </a>
              <span>First attempt with pure CSS</span>
            </div>
          </div>

          <div id="dots">
            <span class="dot3"></span>
            <h5>
              Offer my programming skills to a non-profit organization that needs it:
            </h5>
          </div>
          <p>
            Helping others has always been part of what I am, as a human being. Since when I was the computer lab
            monitor
            in highschool and needed to help other kids learn how to use a computer, to when I graduated in languages
            and
            started teaching English, the passion for helping was there. Now with tech I don't get to be a teacher
            anymore (maybe further in the career), but I get to help someone who needs. I have a non-profit
            organization
            in mind but if you're reading this and know some organization that might need my help, feel free to get in
            touch at r.normando@hotmail.com.
          </p>

          <div id="dots">
            <span class="dot3"></span>
            <h5>
              Create my personal website:
            </h5>
          </div>
          <p>
            I know I should have done this before, I swear I tried, but every attempt felt like there was something
            missing,finally I know what it is: I love writing. The portfolio will not only be a place for me to show
            off
            my work but a place for those who want to learn about new technologies. And this takes me to the next step:
          </p>
          <div id="dots">
            <span class="dot3"></span>
            <h5>
              Write tutorials of useful things I learned and could help others:
            </h5>
          </div>
          <p>
            I want to learn a lot in the days to come, whatever I find interesting and may help other people I'll be
            writing as tutorials. Maybe an intro to Angular, React, React Native, how to create and publish your API
            using Nodejs and Heroku, and so on. I know there's a lot of content about that already but there's an
            increasing number of people looking for these contents and finding nothing but out dated tutorials with
            confusing information. I'll be mostly active here on LinkedIn and Twitter at NormandoRodrigo. I'll be
            posting
            the tutorials on LinkedIn and, when it's ready, on my portfolio/blog kinda personal website.
          </p>
          <div id="dots">
            <span class="dot3"></span>
            <h5>
              Finish whatever course I've started at Udemy:
            </h5>
          </div>
          <p>
            I bought some courses because I was genuinely interested in learning some new tech but as it turned out I
            didn't quite manage my time correctly to finish those courses.
          </p>
          <p>The courses I am currently enrolled in cover the following technologies: </p>
          <ul>
            <li>Spring Boot with Ionic</li>
            <li>Node.js with MongoDb</li>
            <li>Angular</li>
            <li>React and Redux</li>
            <li>React Native</li>
          </ul>

          <p>
            This is a taste of things that I'll be writing about. If you want to learn any of those techs or know
            someone
            who wants, point them here so they can get some help or even contribute.
          </p>

          <p>
            If you had the will and patience to read up to this point, I have nothing to say but thank you.
          </p>
          <p>
            See you.
          </p>
        </div>
      </div>
    </div>
  </article>
</body>