<main class="main">
  <div class="greetings">
    <h1>Welcome, Visitor!</h1>
  </div>
  <hr>
  <div class="articlePreviewDiv">
    <article class="articlesPreview">
      <div class="imgContent">
        <img clas="imgFile" src="../../assets/blogPost.jpeg" alt="blog post 1">
        <div class="carousel-caption d-none d-md-block">
            <h3>Miniaturas com preços ótimos!</h3>
            <a href="#" style="color:white">
                <p>Dê uma olhada</p>
            </a>
        </div>
      </div>
      <div class="articleDescription">
        <p> Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. </p>
      </div>
    </article>
  </div>
  <hr>
</main>